<form #passwordReset="ngForm"   (ngSubmit)="onSubmit()">

  <div class="form-group">

    <label for="email">email</label>

    <input type="text" id="email" class="form-control" required minlength="4" maxlength="24"
           name="email" placeholder="type in your email you used for registering" [(ngModel)]="passwordReset.email" #email="ngModel" >

    <div *ngIf="email.errors && email.touched"
         class="alert alert-danger">
      <div [hidden]="!email.errors.required">
        email is required
      </div>
      <!--<div [hidden]="!email.errors.minlength">-->
        <!--Name must be at least 4 characters long.-->
      <!--</div>-->
      <!--<div [hidden]="!email.errors.maxlength">-->
        <!--Name cannot be more than 24 characters long.-->
      <!--</div>-->
    </div>

  </div>

  <div class="form-group">

    <label for="newPassword">new password</label>

    <input type="text" id="newPassword" class="form-control" required minlength="8" maxlength="24"
           name="newPassword" placeholder="type in your new password" [(ngModel)]="passwordReset.newPassword" #newPassword="ngModel">

    <div *ngIf="newPassword.errors && newPassword.touched"
         class="alert alert-danger">
      <div [hidden]="!newPassword.errors.required">
        your new password is required
      </div>
      <div [hidden]="!newPassword.errors.minlength">
        Name must be at least 8 characters long.
      </div>
      <div [hidden]="!newPassword.errors.maxlength">
        Name cannot be more than 24 characters long.
      </div>
    </div>

  </div>

  <div class="form-group">

    <label for="confirmPassword">confirm password</label>

    <input type="text" id="confirmPassword" class="form-control" required minlength="8" maxlength="24"
           name="confirmPassword" placeholder="confirm your new password" [(ngModel)]="passwordReset.confirmPassword" #confirmPassword="ngModel">

    <div *ngIf="confirmPassword.errors && confirmPassword.touched"
         class="alert alert-danger">
      <div [hidden]="!confirmPassword.errors.required">
        password confirmation is required & must match your new password
      </div>
      <div [hidden]="!confirmPassword.errors.minlength">
        Name must be at least 8 characters long.
      </div>
      <div [hidden]="!confirmPassword.errors.maxlength">
        Name cannot be more than 24 characters long.
      </div>
    </div>

  </div>



  <button type="submit" class="btn btn-default"
  >Submit</button>

</form>
